.code {
    background: url(../images/logo.ico);
    font-family: Arial;
    font-style: italic;
    color: blue;
    font-size: 30px;
    border: 0;
    padding: 2px 3px;
    letter-spacing: 3px;
    font-weight: bolder;
    float: left;
    cursor: pointer;
    width: 100px;
    height: 45px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
}


a {
    text-decoration: none;
    font-size: 12px;
    color: #288bc4;
}

a:hover {
    text-decoration: underline;
}

.login-box {
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
}

#top-logo {
    width: 90px;
    height: 90px;
    float: left;
    margin: 10px 30px 10px 10px;
}

#logo-text {
    margin: 20px;
    color: rgb(50, 150, 230);
}

#logo-text-en {
    font-size: 40px;
    line-height: 40px;
}

#logo-text-cn {
    font-size: 32px;
    line-height: 32px;
}

.login-title {
    padding: 10px;
    text-align: center;
}

.login-title h3 {
    margin: 0;
}

.login-box-body {
    background-color: #eeeeee;
    padding: 25px;
    border:2px solid #eeeeee;
    border-radius: 8px;
    margin-bottom: 20px;
}

#user_password, #user_id, #block_user_id{
    text-indent: 10px;
}

#block_user_id{
    background-color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none !important;
margin: 0;
}

.input-group {
padding: 16px;
margin-left: auto;
margin-right: auto;
border: 1px;
height: 1rem;

}

.checkbox {
padding-left: 20px;
}

#login-alert {
display: none;
}

@font-face {
    font-family: 'iconfont';  /* project id 738044 */
    src: url('//at.alicdn.com/t/font_738044_pkcpf74mfy.eot');
    src: url('//at.alicdn.com/t/font_738044_pkcpf74mfy.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_738044_pkcpf74mfy.woff') format('woff'),
    url('//at.alicdn.com/t/font_738044_pkcpf74mfy.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_738044_pkcpf74mfy.svg#iconfont') format('svg');
}

.iconfont {/*对阿里图标进行修饰*/
    /*color: #c12e2a;*/
    font-family:"iconfont" !important;
    font-style:normal;
    /* font-weight: bold;!*加粗*!*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}