<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="../static/images/logo.ico" th:href="@{images/logo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/resources/materialize/css/materialize.min.css" media="screen,projection" th:href="@{resources/materialize/css/materialize.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{css/login.css}">
    <script src="../static/js/constant.js" th:src="@{js/constant.js}"></script>


    <!--<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


    <link rel="stylesheet" type="text/css" href="../static/resources/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{resources/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script src="../static/resources/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{resources/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

    <title>密码修改</title>
</head>
<body>
    <div class="container">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <button type="button" class="btn btn-default" onclick="make_evaluate()">按钮</button>
            </div>


                <div class="modal fade" id="modal-container-287808" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                    <div class="modal-dialog" role="document">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 class="modal-title" id="myModalLabel">
                                密码修改
                            </h3>
                        </div>

                        <div class="modal-body">
                            <div class="login-box-body">

                                <div class="input">
                                    <input  class="form-control" id="update_id" type="text" placeholder="未登录" readonly/>
                                </div>

                                <div class="input">
                                    <input class="form-control" id="old_password" type="text" placeholder="旧密码"/>
                                </div>
                                <div class="input">
                                    <input  class="form-control" id="new_password" type="password" placeholder="新密码"/>
                                </div>

                                <div class="input" style="text-align:center">
                                    <button class="btn btn-default btn-center" data-dismiss="modal">取消</button>
                                    <button class="btn btn-primary btn-center" onclick="true_evaluate()">修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>

</body>


    <script>
        <!--保存对象到评分提示框-->
        function make_evaluate() {
            $('#modal-container-287808').modal('show');

        }
    </script>



</html>