<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <link rel="shortcut icon" href="../static/images/logo.ico" th:href="@{images/logo.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/resources/materialize/css/materialize.min.css" media="screen,projection" th:href="@{resources/materialize/css/materialize.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{css/login.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{css/index.css}">
    <script src="../static/js/constant.js" th:src="@{js/constant.js}"></script>


    <!--<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


    <link rel="stylesheet" type="text/css" href="../static/resources/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{resources/bootstrap-3.3.7/css/bootstrap.min.css}">
    <script src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script src="../static/resources/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{resources/bootstrap-3.3.7/js/bootstrap.min.js}"></script>

    <script src="../static/js/js.cookie.js" th:src="@{js/js.cookie.js}"></script>

    <title>学生界面</title>
</head>

<body onload="jumpLogin()" style="background-color:#39221e">

<div class="container">

    <div class="row clearfix">
        <div class="col-md-4 column pull-left" id="logo-title">
            <h1>
                学生管理界面
            </h1>
        </div>
    </div>
    <div class="row clearfix" >
        <div class="col-md-12 column">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="http://127.0.0.1:1314/lvxz/index_student">首页</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:1314/lvxz/apply_student">申请毕业设计</a>
                </li>
                <li class="active">
                    <a href="#">查看申请</a>
                </li>
                <li class="dropdown pull-right">
                    <input id="user_name" value="未登录" readonly="true"/>
                </li>
                <li class="dropdown pull-right">
                    <input id="user_id" value="" readonly="true"/>
                </li>
                <li class="dropdown pull-right disabled">
                    <a href="#"></a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人设置<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a onclick="showStudentInfo()">修改信息</a>
                        </li>
                        <li>
                            <a onclick="showStudentPassword()">修改密码</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a onclick="showDeleteCookies()">退出登录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">

                <table class="table table-bordered  table-condensed" id="table_design">
                    <thead>
                    <tr class="info">
                        <th>毕设编码</th>
                        <th>毕设名称</th>
                        <th>指导教师</th>
                        <th>导师毕设状态</th>
                        <th>留言</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td id="td1">----</td>
                        <td id="td2">----</td>
                        <td id="td3">----</td>
                        <td id="td4">----</td>
                        <td>
                            <button onclick="teacher_delete(this);" class="btn btn-small btn-primary" data-toggle="tooltip"
                                    data-placement="right" title="编写留言"> &nbsp;<i class="glyphicon glyphicon-comment">&nbsp;</i></button>
                        </td>
                    </tr>
                    </tbody>

                    <thead>
                    <tr class="info">
                        <th>学生申请时间</th>
                        <th>学生毕设状态</th>
                        <th>操作</th>
                        <th>上传毕设文件名称</th>
                        <th>最近修改时间</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td id="td5">----</td>
                        <td id="td6">----</td>
                        <td>
                            <button id="button1" onclick="student_delete(this);" style="display:none" class="btn btn-small btn-warning"><i class="glyphicon glyphicon-remove">删除申请</i></button>
                            <button id="button2" onclick="student_delete(this);" style="display:none" class="btn btn-small btn-warning"><i class="glyphicon glyphicon-remove">取消申请</i></button>
                            <button id="button3" onclick="student_upload_file(this);" style="display:none" class="btn btn-small btn-success"><i class="glyphicon glyphicon-open-file">上传毕设</i></button>
                            <button id="button4" onclick="student_upload_file(this);" style="display:none" class="btn btn-small btn-success" data-toggle="tooltip"
                                    data-placement="bottom" title="修改毕设，上传的文件将覆盖原先文件"><i class="glyphicon glyphicon-open-file">修改毕设</i></button>
                            <button id="button5" onclick="alert('项目已完结，无法再次上传修改！');" style="display:none" class="btn btn-small btn-danger"data-toggle="tooltip"
                                    data-placement="bottom" title="项目已完结"><i class="glyphicon glyphicon-ban-circle">修改停止</i></button>
                        </td>
                        <td id="td7">----</td>
                        <td id="td8">----</td>
                    </tr>
                    </tbody>

                </table>

            </div>


            <!--<form id="form1" role="form" method="POST" enctype="multipart/form-data" action="http://127.0.0.1:1314/lvxz/teacher/apply_design">
                <div class="jumbotron">

                    <div class="input">
                        <input  class="form-control" id="now_date" type="text" value="" readonly="true"/>
                    </div>

                    <div class="input">
                        <input  class="form-control" id="designName" name="designName" type="text" placeholder="毕业设计名称">
                    </div>

                    <div class="input">
                        <input  class="form-control" id="teacherID" name="teacherID" type="hidden" value="">
                    </div>

                    <div class="form-group">
                        <input name="file" id="file" type="file" accept="application/x-zip-compressed,application/x-rar-compressed" value="选择压缩包" data-toggle="tooltip"
                               data-placement="left" title="仅支持zip、rar压缩包，且小于1M"/></div>
                    <div class="input-group" style="padding:16px;margin-left:auto;margin-right:auto;">
                        <button type="submit" class="btn btn-primary" id="login_button" onclick="applyUpload()">
                            <i class="glyphicon glyphicon-cloud-upload">申请发布</i>
                        </button>
                    </div>
                </div>

            </form>-->


            <!--修改个人信息框-->
            <div class="modal fade" id="modal-container-287888" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog" role="document">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 class="modal-title">
                            信息修改
                        </h3>
                    </div>

                    <div class="modal-body">
                        <div class="login-box-body">

                            <div class="input">
                                <input  class="form-control" id="update_InfoId" type="text" value="未登录" readonly="true"/>
                            </div>
                            <div class="input">
                                <input class="form-control" id="birthday" type="date" placeholder="出生日期"/>
                            </div>
                            <div class="input">
                                <input  class="form-control" id="phone" type="number" placeholder="手机"/>
                            </div>
                            <div class="input">
                                <input  class="form-control" id="qq" type="number" placeholder="QQ"/>
                            </div>

                            <div class="input" style="text-align:center">
                                <button class="btn btn-default btn-center" data-dismiss="modal">取消</button>
                                <button class="btn btn-primary btn-center" onclick="updateStudentInfo()">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--修改密码框-->
            <div class="modal fade" id="modal-container-287808" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog" role="document">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 class="modal-title">
                            密码修改
                        </h3>
                    </div>

                    <div class="modal-body">
                        <div class="login-box-body">

                            <div class="input">
                                <input  class="form-control" id="update_PasswordId" type="text" value="未登录" readonly="true"/>
                            </div>

                            <div class="input">
                                <input class="form-control" id="old_password" type="password" placeholder="旧密码"/>
                            </div>
                            <div class="input">
                                <input  class="form-control" id="new_password" type="password" placeholder="新密码"/>
                            </div>

                            <div class="input" style="text-align:center">
                                <button class="btn btn-default btn-center" data-dismiss="modal">取消</button>
                                <button class="btn btn-primary btn-center" onclick="updateStudentPassword()">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>



</body>

<script>


    $(function () { $("[data-toggle='tooltip']").tooltip(); });




    /*网页生成时，验证是否登录的跳传*/
    function jumpLogin() {



        if(!Cookies.get('student_ObjJson')){
            alert("您还未登陆！请登陆");
            window.open("http://"+ getLocalIP() +":1314/lvxz/login",'_self');

        }else{
            var jsonValue = JSON.parse(Cookies.get('student_ObjJson'));

            getUser(jsonValue);

            getMyselfProjectInfo();
        }

    }

    <!-- 获取登录信息，并修改登录栏-->
    function getUser(jsonValue){
        $('#user_name').val(jsonValue.studentName);
        $('#user_id').val(jsonValue.studentID);
    }

    /*修改个人信息框出现*/
    function showStudentInfo() {

        $('#update_InfoId').val($('#user_id').val()+"   "+$('#user_name').val());

        $('#modal-container-287888').modal('show');
    }

    /*修改个人信息函数*/
    function updateStudentInfo() {

        var studentID = $('#user_id').val();
        var birthday = $('#birthday').val();
        var phone = $('#phone').val();
        var qq = $('#qq').val();

        if(studentID.length!=0){

            var updatePasswordURL = "http://"+ getLocalIP() +":1314/lvxz/student/update_info";
            var objJson = {
                "studentID":parseInt(studentID),
                "birthday":birthday,
                "phone":phone,
                "studentQQ":qq,
            };

            $.ajax({
                type:"POST",
                url: updatePasswordURL,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objJson),
                async:true,
                success: function (response) {
                    if(response.code == 104){
                        alert(response.msg);
                        location.reload();//重新加载
                    } else {
                        alert(response.msg);
                    }
                },
                error: function (data){
                    alert("访问失败，请检查网络、路径......");
                }
            });

        } else {
            alert("未登录！");
        }
    }


    /*修改密码框出现*/
    function showStudentPassword(){
        $('#update_PasswordId').val($('#user_id').val()+"   "+$('#user_name').val());
        $('#modal-container-287808').modal('show');
    }

    /*修改密码函数*/
    function updateStudentPassword(){

        //var studentID = $('#update_PasswordId').attr("name");//id放入name
        var studentID = $('#user_id').val();
        var oldPassword = $('#old_password').val();
        var newPassword = $('#new_password').val();

        if(studentID.length!=0  && oldPassword.length!=0 && newPassword.length!=0) {

            var updatePasswordURL = "http://"+ getLocalIP() +":1314/lvxz/student/update_password";

            var objJson = {
                "studentID":parseInt(studentID),
                "password":oldPassword,
                "new_password":newPassword
            };

            $.ajax({
                type:"POST",
                url: updatePasswordURL,
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(objJson),
                async:true,
                success: function (response) {
                    if(response.code == 103){
                        alert(response.msg);
                        location.reload();//重新加载
                    } else {
                        alert(response.msg);
                    }
                },
                error: function (data){
                    alert("访问失败，请检查网络、路径......");
                }
            });

        } else {
            alert("存在输入为空！");
        }
    }


    /*提示出现退出*/
    function showDeleteCookies() {
        if(confirm("您确定退出！")) {
            deleteCookies();
        }else{

        }
    }

    /*退出登录，消除cookies*/
    function deleteCookies() {
        //Cookies.remove('s_id', { path: '' });
        //Cookies.remove('s_account', { path: '' });
        //window.open('login.html','_self');
        alert("已注销");
    }





    <!--学生获取自己的项目毕设-->
    function getMyselfProjectInfo() {

        var student_ObjJson = Cookies.get('student_ObjJson');

        if(student_ObjJson!=null){

            $.ajax({
                type:"POST",
                url: "http://"+ getLocalIP() +":1314/lvxz/student/get_myself_project",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: student_ObjJson,
                async:true,
                success: function (response) {
                    console.log(response);
                    if(response.code == 703){
                        changeTable_Info(response.data);
                    } else {
                        alert(response.msg);
                    }
                },
                error: function (data){
                    alert("访问失败，请检查网络、路径......");
                }
            });


        }else{
            alert("关键输入为空！");
        }
    }

    function changeTable_Info(data){

        $('#td1').html(data['project']['designID']);
        $('#td2').html(data['designName']);
        $('#td3').html(data['teacherName']);

        switch(data['designStatus']) {
            case 2:{
                $('#td4').html('等待申请');
            }break;

            case 3:{
                $('#td4').html('申请截止');
            }break;

            case 4:{
                $('#td4').html('项目完结');
            }break;
        }

        var d = new Date(data['project']['createTime']);
        var times=d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();
        $('#td5').html(times);

        switch(data['project']['enableStatus']) {
            case -1:{
                //申请被驳回
                $('#td6').html('删除申请');
                $('#button1').show();
            }break;

            case 0:{
                //等待申请通过
                $('#td6').html('等待申请通过');
                $('#button2').show();
            }break;

            case 1:{
                //申请成功通过
                $('#td6').html('申请成功通过');
                $('#button3').show();
            }break;

            case 2:{
                //上传毕设成功
                $('#td6').html('上传毕设成功');
                $('#button4').show();
            }break;

            case 3:{
                //项目完结
                $('#td6').html('修改停止');
                $('#button5').show();
            }break;
        }


        $('#td7').html(data['project']['fileName']);
        $('#td8').html(times);

    }

    /*学生删除申请、取消申请*/
    function student_delete(){

    }

    /*学生上传作业、修改作业*/
    function student_upload_file(){

    }


</script>




</html>